<html>
    <head>
        <meta charset="utf-8"/>
        <title>Utilizando Composer</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="/?pagina=index.php">Pagina Inicial</a>
                <a href="/cliente/cadastro.php">Cadastro Cliente</a>
                <a href="/cliente/listagem_clientes.php">Gerenciar Clientes</a>
                <a href="/produto/cadastro.php">Cadastro Produto</a>
                <a href="/produto/listagem_produtos.php">Gerenciar Produto</a>
                <a href="/pedido/cadastro.php">Cadastro Pedido</a>
                <a href="/pedido/gerenciador.php">Gerenciar Pedido</a>
                <a href="/pedidoProduto/listagem_pedidoProduto.php">Gerenciar Pedido</a>
                
            </li>
        </ul>
        {% block body %}{% endblock %}
</html>