{% extends "base.html.twig" %}
{% block body %}

    <form class="form-horizontal-a" method="post" action="../produto/cadastro.php">
        <input type="hidden" name="cadastrar" value="1">
        <h3>Dados do Produto</h3>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Codigo</label>
            <div class="col-sm-10-a">
                <input name="codigo" type="text" class="form-control" maxlength="60" placeholder="Codigo Produto">
            </div>
        </div> 
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10-a">
                <input name="nome" type="text" class="form-control" maxlength="100" placeholder="Nome do Produto">
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Preço</label>
            <div class="col-sm-10-a">
                <input name="preco" type="text" class="form-control" maxlength="60" placeholder="Preço do Produto">
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">QuantidadeEstoque</label>
            <div class="col-sm-10-a">
                <input name="quantidade_estoque" type="text" class="form-control" maxlength="60" placeholder="Quantidade em Estoque">
            </div>
        </div>
        <div class="form-group-b">
            <div class="col-sm-offset-2 col-sm-10-a">
                <button  type="submit" class="btn btn-default">Cadastrar Produto</button>
            </div>
        </div>
    </form>

{% endblock %}
