{% extends "base.html.twig" %}

{% block body %}
<div class="containers">
            <form class="form-signin" action="index.html.twig" method="post">
                <h2 class="form-signin-heading">Calcule seu IMC</h2>
                <div class="peso">
                    <label for="inputIdade" class="sr-only"> idade: </label>
                    <input name="idade" type="text" maxlength="4" class="form-control a" placeholder="idade" value="{{idade}}" />
                </div>
                <div class="peso">
                    <label for="inputPeso" class="sr-only"> peso: </label>
                    <input name="peso" type="text" maxlength="4" class="form-control a" placeholder="Peso" value="{{peso}}" />
                </div>
                <div class="altura">
                    <label for="inputAltura" class="sr-only">altura:</label>
                    <input name="altura" type="text" maxlength="4" class="form-control b" placeholder="Altura" value="{{altura}}"/>
                </div>
                <div class="botao">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Calcular</button>
                </div>
            </form>
        </div>

{% endblock %}