{% extends "base.html.twig" %}
{% block body %}
    
    <form class="form-horizontal-a" method="post" action="../pedido/editar.php"> 
        <input type="hidden" name="editar" value="1"/>
        <h3>Modificar Dados</h3>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Pedido</label>
            <div class="col-sm-10-a">
                {% for PedidoCliente in PedidosClientes %}
                    <input name="cliente_id" type="text" class="form-control" maxlength="20" value="{{PedidoCliente.id}}{{PedidoCliente.nome}}">
                {% endfor %}
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10-a">
                <input name="cliente_id" type="text" class="form-control" maxlength="20" value="{{id}}">
            </div>
        </div> 
        <div class="form-group-b">
            <div class="col-sm-offset-2 col-sm-10-a">
                <button type="submit" class="btn btn-default">Alterar</button>
            </div>
        </div>
    </form>
                
{% endblock %}